In [1]:
import dask.dataframe as dd
import psycopg2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
from pathlib import Path
from omegaconf import OmegaConf

In [2]:
config = OmegaConf.load(Path("config.yaml"))

In [4]:
con_alchemy = f"""postgresql://{config.database_conn.user}:{config.database_conn.password}@{config.database_conn.host}:{config.database_conn.port}/{config.database_conn.database}"""
con_alchemy

'postgresql://postgres:1111@localhost:5432/MEDICAL'

In [5]:
engine = create_engine(con_alchemy, pool_pre_ping=True)
engine

Engine(postgresql://postgres:***@localhost:5432/MEDICAL)

In [6]:
# Get the SQL query
sql_query = f"""SELECT * FROM {config.db_tab_name}"""

In [7]:
# Fetch data from SQL query into a pandas DataFrame
df_heart_disease = pd.read_sql_query(sql_query, con=engine)
df_heart_disease.head()

  age sex cp restbp chol fbs restecg thalach exang oldpeak slope ca thal hd
0  63   1  1    145  233   1       2     150     0     2.3     3  0    6  0
1  67   1  4    160  286   0       2     108     1     1.5     2  3    3  2
2  67   1  4    120  229   0       2     129     1     2.6     2  2    7  1
3  37   1  3    130  250   0       0     187     0     3.5     3  0    3  0
4  41   0  2    130  204   0       2     172     0     1.4     1  0    3  0