# **Decision Tree**

## Import Libraries

In [3]:
import dask.dataframe as dd
import psycopg2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
from pathlib import Path
from omegaconf import OmegaConf

## Import The Dataset

In [4]:
config = OmegaConf.load(Path("config.yaml"))

In [5]:
con_alchemy = f"""postgresql://{config.database_conn.user}:{config.database_conn.password}@{config.database_conn.host}:{config.database_conn.port}/{config.database_conn.database}"""
con_alchemy

'postgresql://postgres:1111@localhost:5432/MEDICAL'

In [6]:
# Dask does not allow sql alchemy
engine = create_engine(con_alchemy, pool_pre_ping=True)
engine

Engine(postgresql://postgres:***@localhost:5432/MEDICAL)

In [7]:
# Establish a connection
conn = psycopg2.connect(host=config.database_conn.host, 
                       port=config.database_conn.port, 
                       database=config.database_conn.database,
                       user=config.database_conn.user,
                       password=config.database_conn.password)
conn

In [8]:
# Create a curson to execute SQL
cursor = conn.cursor()

In [9]:
# Get the SQL query
sql_query = f"""SELECT * FROM {config.db_tab_name}"""

1. The dask dataframe cannot read the sql alchemy.
2. We have to use the psycopg2 to read the rows from database with cursor.
3. We need to read the cursor into pandas dataframe in chuncksize and then append it to the dask dataframe.

In [10]:
# create an empty dask dataframe
ddf = dd.from_pandas(pd.DataFrame(), npartitions=10)

In [11]:
# Fetch data from SQL server using the cursor
cursor.execute(sql_query)

In [12]:
## ---- TESTING---- WORKING FINE-----

# Fetch all the data from database to cursor 
# cursor.execute(sql_query)
# records = cursor.fetchmany(5)
# records

## Read the SQL Database using SQLAlchemy Technique

In [13]:
# Fetch data from SQL query into a pandas DataFrame (SQL Alchemy method)
df_heart_disease = pd.read_sql_query(sql_query, con=engine)
df_heart_disease.head()

  age sex cp restbp chol fbs restecg thalach exang oldpeak slope ca thal hd
0  63   1  1    145  233   1       2     150     0     2.3     3  0    6  0
1  67   1  4    160  286   0       2     108     1     1.5     2  3    3  2
2  67   1  4    120  229   0       2     129     1     2.6     2  2    7  1
3  37   1  3    130  250   0       0     187     0     3.5     3  0    3  0
4  41   0  2    130  204   0       2     172     0     1.4     1  0    3  0

In [14]:
## DASK DATAFRAME NEEDS 'index_col' WITHOUT IT , DASK WON'T WORK  
# ddf_heart_disease = dd.read_sql_table(config.db_tab_name, con=con_alchemy, index_col="age")
# ddf_heart_disease.head()